.pageContent {
position: static;
width: 98.75vw;
height: 88.75vh;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
margin: 0.63vw 0vh;
box-sizing: border-box;
}