.header {
width: 98.75vw;
height: 7.5vh;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0.83vw 2.5vh 0.83vw 2.5vh;
margin: 0vw 0vh;
background: rgb(255, 255, 255);
box-sizing: border-box;

img {
width: 0.7vw;
height: 1.32vh;
margin-right: 1.04vw;

}

.imgDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    :hover {
    cursor: pointer;
}
}

    .headerContent {
        width: 96.25vw;
        height: 4.17vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

            .wrapper {
                width: 24.27vw;
                height: 4.17vh;
                display: flex;
                padding: 0.31vw 0vh 0.31vw 0vh;
                margin: 0vw 1.04vh;
                color: rgba(0, 0, 0, 0.85);
                font-size: 2.5vh;
                font-weight: 500;
                line-height: 2.92vh;
            }
    }

}

.recipeDiv {
width: 98.75vw;
height: 88.75vh;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
margin: 0.63vw 0vw;
box-sizing: border-box;

.infoBlock {
width: 24.22vw;
height: 88.75vh;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
box-sizing: border-box;

.cuisine {
width: 23.22vw;
height: 13.33vh;
margin: 0.63vw 0vw;
box-sizing: border-box;
border-radius: 0.1vw;
box-sizing: border-box;

.cuisineBody {
width: 23.22vw;
height: 7.5vh;
padding: 1.25vw;
font-size: 0.73vw;
font-weight: 400;
line-height: 1.15vw;
background: rgb(255, 255, 255);
box-sizing: border-box;
}
}

.tags {
width: 23.22vw;
height: 13.13vh;
margin: 0.63vw 0vw;
box-sizing: border-box;
border-radius: 0.1vw;
background: rgb(255, 255, 255);

.tagsBody {
width: 23.22vw;
height: 7.5vh;
padding: 1.25vw;
font-size: 0.73vw;
font-weight: 400;
line-height: 1.15vw;
background: rgb(255, 255, 255);
box-sizing: border-box;
}
}

.calories {
width: 23.22vw;
height: 16.46vh;
margin: 0.63vw 0vw;
box-sizing: border-box;
border: 0.05vw solid rgb(240, 240, 240);
border-radius: 0.1vw;
background: rgb(255, 255, 255);

.caloriesBody {
width: 23.22vw;
height: 10.63vh;
padding: 1.25vw;
background: rgb(255, 255, 255);
box-sizing: border-box;

.caloriesMainText {
width: 21.72vw;
height: 2.5vh;
margin: 0.42vw 0vw;
font-size: 0.83vw;
font-weight: 400;
line-height: 1.25vw;
letter-spacing: 0%;
text-align: left;
}


}
}

.portions {
width: 23.22vw;
height: 13.33vh;
margin: 0.63vw 0vw;
box-sizing: border-box;
border: 0.05vw solid rgb(240, 240, 240);
border-radius: 0.1vw;
background: rgb(255, 255, 255);

.portionsBody {
width: 23.22vw;
height: 3.5vh;
padding: 1.25vw;
background: rgb(255, 255, 255);
font-size: 1.04vw;
font-weight: 700;
line-height: 1.25vw;
letter-spacing: 0%;
text-align: left;
box-sizing: border-box;
}
}

.description {
position: static;
width: 23.22vw;
height: 18.5vh;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
margin: 0.63vw 0vw;
box-sizing: border-box;
border: 0.05vw solid rgb(240, 240, 240);
border-radius: 0.1vw;
background: rgb(255, 255, 255);

.descriptionBody {
position: static;
width: 23.22vw;
height: 21.67vh;
padding: 1.25vw;
font-size: 0.73vw;
font-weight: 400;
line-height: 0.83vw;
text-align: justify;
background: rgb(255, 255, 255);
box-sizing: border-box;
}

}

.instruction {
position: static;
width: 23.22vw;
height: 74.17vh;
margin: 0.63vw 0vw;
background: rgb(255, 255, 255);

.steps {
position: static;
width: 21.15vw;
height: 30.63vh;
margin: 1.25vw 0vw;

.step {
position: static;
width: 21.15vw;
height: 4.38vh;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: flex-start;
padding: 0vw 0vw 1.04vw 1.35vw;
flex: none;
order: 0;
flex-grow: 1;
margin: 0vw 0vw;
font-size: 0.73vw;
font-weight: 400;
line-height: 1.15vw;
box-sizing: border-box;

    .forIcon {
    width: 1.15vw;
    height: 4.38vh;
}

}
}
}
}

.imageBlock {
width: 49.06vw;
height: 88.75vh;
padding: 0.63vw;
margin: 0vw 0.63vw;
background: rgba(255, 255, 255, 0.5);
box-sizing: border-box;

img {
width: 47.81vw;
height: 79.17vh;
margin: 0.63vw 0vw;
}
}
}

.head {
width: inherit;
height: 5.83vh;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0.83vw 1.25vw 0vw 1.25vw;
background: rgb(255, 255, 255);
font-size: 0.83vw;
font-weight: 500;
line-height: 1.25vw;;
box-sizing: border-box;
}