.header {
width: 98.75vw;
height: 7.5vh;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0.83vw 2.5vh 0.83vw 2.5vh;
margin: 0vw 0vh;
background: rgb(255, 255, 255);
box-sizing: border-box;

    .headerContent {
        width: 96.25vw;
        height: 4.17vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

            .wrapper {
                width: 24.27vw;
                height: 4.17vh;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding: 0.31vw 0vh 0.31vw 0vh;
                margin: 0vw 1.04vh;
                color: rgba(0, 0, 0, 0.85);
                font-size: 2.5vh;
                font-weight: 500;
                line-height: 2.92vh;
            }
    }

}